DEBUG=false

# SQLAlchemy Database URL (por defecto usa SQLite, pero se puede reemplazar con PostgreSQL)
SQLALCHEMY_DB_URL=sqlite:///dev.db
# SQLALCHEMY_DB_URL=postgresql+psycopg2://user:pass@127.0.0.1:5432/db_name

# PostgreSQL Configuration (se utiliza si usas PostgreSQL en lugar de SQLite)
DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_NAME=your_database_name
DB_POSTGRES_USER=your_username
DB_POSTGRES_PASS=your_password